{% extends 'share/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Book details -> {{ book.name }}
{% endblock title %}
<style>
    .book-details {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
</style>
{% block content %} 
<div class="book-details">
    <h1>{{ book.name }}</h1>
    <dl class="row">
        <dd class="col-sm-3"> <img class="img-fluid" src=/media/{{book.cover}}/> </dd>
        <dd class="col-sm-9">{{ book.description|safe }}</dd>
        {% if book.document.url != 'empty' %}
        <dd class="col-sm-3"><a class="btn btn-success" href="{{ book.document.url }}">Download</a></dd>
        {% endif %}
        {% if book.link != 'empty' %}
        <dd class="col-sm-3"><a class="btn btn-info" href="{{ book.link }}">Browse Related Link</a></dd>
        {% endif %}
    </dl>
    <hr/>
            {% comment %} <a href="{% url 'book_update' book.pk %}"  class="btn btn-outline-primary">Edit</a>
            <form action="{% url 'book_delete' book.pk %}" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-secondary">Delete</button>
            </form> {% endcomment %}
            <a href="{% url 'book_list' %}" class="btn btn-outline-success">Back to List</a>
           
    </div>
   
</div>
{% endblock content %}
