{% extends 'share/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Refrence List of {{language.name}} language
{% endblock title %}

{% block content %}
<!-- =======================
Page Banner START -->
<section class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bg-light p-4 text-center rounded-3">
                    <h1 class="m-0">Refrence List of {{language.name}} language </h1>
                    <!-- Breadcrumb -->
                    <div class="d-flex justify-content-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb breadcrumb-dots mb-0">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'language_list' %}">Languages</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{language.name}}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =======================
Page Banner END -->
<!-- =======================
Page content START -->
<section class="pt-0">
    <div class="container">

        <div class="row mt-3">
            <!-- Main content START -->
            <div class="col-12">

                <!-- Course Grid START -->
                <div class="row g-4">
                    {% for refrence in refrences %}
                    <!-- Card item START -->
                    <div class="col-sm-6 col-lg-3 col-xl-3">
                        <a class="text-decoration-none" href="{% url 'refrence_detail' slug=refrence.slug %}">
                            <div class="card shadow h-100">
                                <!-- Image -->
                                {% if seri.cover == 'empty' %}
                                <img src="https://placehold.co/400x500?text=No+Cover" class="card-img-top" alt={{refrence.name}} />
                                {% else %}
                                <img src=/media/{{refrence.cover}} class="card-img-top" alt={{ refrence.name }} />
                                {%endif%}
                                <!-- Card body -->
                                <div class="card-body pb-0">
                                    <!-- Badge and favorite -->
                                    <div class="d-flex justify-content-between mb-2">
                                        <a href="{% url 'skill_level_detail' refrence.skill_level.pk %}" class="badge bg-purple bg-opacity-10 text-purple">{{refrence.skill_level.name}}</a>
                                        <a href="{% url 'category_detail' refrence.category.pk %}" class="badge bg-blue bg-opacity-10 text-blue">{{refrence.category.name}}</a>
                                        <a href="{% url 'language_detail' refrence.language.pk %}" class="badge bg-primary-subtle bg-opacity-10 text-green">{{refrence.language.name}}</a>
                                    </div>
                                    <!-- Title -->
                                    <h5 class="card-title">{{ refrence.name }}</h5>
                                    <p class="card-text">{{ refrence.description |safe |truncatewords:10 }}</p>

                                </div>
                                <!-- Card footer -->
                                <div class="card-footer pt-0 pb-3">
                                    <hr>
                                    <div class="d-flex justify-content-between">
                                        <!-- keywords -->
                                        {% if refrence.keywords.exists %}
                                        {% for keyword in refrence.keywords.all %}
                                        <a href="{% url 'keyword_detail' keyword.pk %}" class="badge bg-blue bg-opacity-10 text-blue">{{ keyword.name }}</a>
                                        {% endfor %}
                                        {% else %}
                                        No keywords found for this reference.
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- Card item END -->
                    {% endfor %}


            </div>
            <!-- Course Grid END -->
            <!-- Pagination START -->
            {% comment %} <div class="col-12">
                <nav class="mt-4 d-flex justify-content-center" aria-label="navigation">
                    <ul class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
                        <li class="page-item mb-0"><a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-double-left"></i></a></li>
                        <li class="page-item mb-0"><a class="page-link" href="#">1</a></li>
                        <li class="page-item mb-0 active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item mb-0"><a class="page-link" href="#">..</a></li>
                        <li class="page-item mb-0"><a class="page-link" href="#">6</a></li>
                        <li class="page-item mb-0"><a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a></li>
                    </ul>
                </nav>
            </div> {% endcomment %}
            <!-- Pagination END -->
        </div>
        <!-- Main content END -->
    </div><!-- Row END -->
    </div>
</section>
<!-- =======================
Page content END -->
{% endblock content %}