{% extends 'share/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
refrenceSeri details  {{ refrenceSeri.name }}
{% endblock title %}



{% block content %}
<!-- =======================
Page content START -->
<section class="pt-5">
	<div class="container" data-sticky-container>
		<div class="row g-4 g-sm-5">

			<!-- Left sidebar START -->
			<div class="col-xl-4">
				<div data-sticky data-margin-top="80" data-sticky-for="992">
					<div class="row justify-content-center">
						<div class="col-md-8 col-xl-12">

							<!-- Card START -->
							<div class="card shadow">
								<!-- Image -->
								<div class="rounded-3">
									<img src="/media/{{refrenceSeri.cover}}" class="card-img-top" alt="book image">
								</div>		
							</div>
							<!-- Card END -->

						</div>
					</div> <!-- Row End -->
				</div>
			</div>
			<!-- Left sidebar END -->
				
			<!-- Main content START -->
			<div class="col-xl-8">
			
				<!-- Title -->
				<h1 class="mb-4">{{ refrenceSeri.name }}</h1>
       
       <div class="d-flex justify-content-left">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-dots mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ refrenceSeri.name }}</li>
          </ol>
        </nav>
      </div>
     
				<!-- Rating -->
				<div class="d-flex align-items-center mb-4">
					<h2 class="me-3 mb-0">4.5</h2>
					<div>
						<ul class="list-inline mb-0">
							<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0 small"><i class="fas fa-star-half-alt text-warning"></i></li>
						</ul>
						<p class="mb-0 small mt-n1">Reviews from our users</p>
					</div>
				</div>


				<!-- Content -->
				<h4>Description</h4>
				
        {{ refrenceSeri.description|safe }}
				<br/>
				<br/>
				<br/>



            <h1 class="m-0">List of Related Refrences</h1>
            <!-- Course Grid START -->
				    <div class="row g-4">
              {% for refrence in refrences %}
					<!-- Card item START -->
					<div class="col-sm-6 col-lg-4 col-xl-4">
           <a class="text-decoration-none" href="{% url 'refrence_detail' slug=refrence.slug %}">
						<div class="card shadow h-100">
							<!-- Image -->
              {% if seri.cover == 'empty' %}
              <img src="https://placehold.co/400x500?text=No+Cover" class="card-img-top" alt={{refrence.name}} />
              {% else %}
              <img src=/media/{{refrence.cover}} class="card-img-top" alt={{ refrence.name }}/>
              {%endif%}
							<!-- Card body -->
							<div class="card-body pb-0">
								<!-- Title -->
                <P class="card-title">{{ refrence.name }}</p>
                <p class="card-text text-decoration-none">{{ refrence.description |safe |truncatewords:10 }}</p>
								
							</div>
							
						</div>
          </a>
					</div>
					<!-- Card item END -->
          {% endfor %}

          {% endblock content %}          