
{% extends 'share/base.html' %}
{% load crispy_forms_tags %}
{% load static %}	

{% block title %}
Keywords List
{% endblock title %}

{% block content %} 
<!-- =======================
Page Banner START -->
<section class="py-4">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bg-light p-4 text-center rounded-3">
					<h1 class="m-0">List of Current Keywords</h1>
					<!-- Breadcrumb -->
					<div class="d-flex justify-content-center">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb breadcrumb-dots mb-0">
								<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Keywords</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Page Banner END -->


<!-- =======================
Categories START -->
<section>
	<div class="container">
		<!-- Title -->
		<div class="row mb-4">

			<div class="col-lg-8 mx-auto text-center">
				<h2>Choose a Keyword</h2>
				<p class="mb-0">Perceived end knowledge certainly day sweetness why cordially</p>
			</div>
		</div>

		<div class="row g-4">
			{% for keyword in keywords %}
			<!-- Item -->
			<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="card card-body bg-success bg-opacity-10 text-center position-relative btn-transition p-4">
					<!-- Image -->
					<div class="icon-xl bg-body mx-auto rounded-circle mb-3">
						<img src="{% static 'assets/images/book/hashtag.png'%}" class="card-img-top" alt={{keyword.name}} />
					</div>
					<!-- Title --> 
					<h5 class="mb-2"><a  href="{% url 'keyword_detail' keyword.pk %}" class="stretched-link">{{keyword.name}}</a></h5>
					<p class="mb-0">{{ keyword.refrence_set.count }} Refrence</p>
				</div>
			</div>
			{% endfor %}
			
		</div>
	</div>
</section>
<!-- =======================
Categories END -->
<!-- =======================
Page content END -->

{% endblock content %}
