{% extends 'share/base.html' %}

{% block content %}
  <h1>Week Plan Details</h1>
  <h2>{{ weekplan.book }}</h2>
  <table class="table">
    <tbody>
      <tr>
        <th>Student</th>
        <td>{{ weekplan.Student.first_name }} {{ weekplan.Student.last_name }}</td>
      </tr>
      <tr>
        <th>Week Number</th>
        <td>{{ weekplan.week_number }}</td>
      </tr>
      <tr>
        <th>Task 1</th>
        <td>{{ weekplan.task1 }}</td>
      </tr>
      <tr>
        <th>Task 2</th>
        <td>{{ weekplan.task2 }}</td>
      </tr>
      <tr>
        <th>Task 3</th>
        <td>{{ weekplan.task3 }}</td>
      </tr>
      <tr>
        <th>Task 4</th>
        <td>{{ weekplan.task4 }}</td>
      </tr>
    </tbody>
  </table>
  <a href="{% url 'weekplan_update' weekplan.pk %}" class="btn btn-warning">Edit</a>
  <a href="{% url 'weekplan_delete' weekplan.pk %}" class="btn btn-danger">Delete</a>
  <a href="{% url 'weekplan_list' %}" class="btn btn-outline-success">Back to List</a>

{% endblock %}
