{% extends 'share/base.html' %}
<style>
  @media print {
    .non-printable-area {
      display: none;
    }
  }
</style>
{% block content %}
  <h4>Week Plan for:  {{ weekplan.Student.first_name }} {{ weekplan.Student.last_name }} | Week: {{ weekplan.week_number }}</h4> 
<hr/>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"><a class="btn btn-light" href="#">{{ weekplan.task1.name }}</a></th>
        <th scope="col"><a class="btn btn-light" href="{{ weekplan.task2.link }}">{{ weekplan.task2.name }}</a></th>
        <th scope="col"><a class="btn btn-light" href="{{ weekplan.task3.link }}">{{ weekplan.task3.name }}</a></th>
        <th scope="col"><a class="btn btn-light" href="{{ weekplan.task4.link }}">{{ weekplan.task4.name }}</a></th>
        <th scope="d-print-none col "></th>
      </tr>
    </thead>
    <tbody>
  {% for dailyprogram in weekplan.dailyprogram_set.all %}
  <tr>
   
    <th scope="row">
      {{ dailyprogram.day }} 
      {% if dailyprogram.classday %}
      <span class="star">*</span>
      {% endif %}
    </th>
    <td>{{ dailyprogram.task1}}</td>
    <td>{{ dailyprogram.task2}}</td>
    <td>{{ dailyprogram.task3}}</td>
    <td>{{ dailyprogram.task4}}</td>
  {% empty %}
    <td>No daily programs found.</td>
  {% endfor %}
</tr>
</tbody>
</table>
  <p>* = We have a class on this day :)</p>
{% endblock %}
