{% extends 'share/base.html' %}

{% block content %}
  <h1>Daily Program Details</h1>
  <h2>Day: {{ dailyprogram.day }}</h2>
  <ul>
    <li>Task 1: {{ dailyprogram.task1 }}</li>
    <li>Task 2: {{ dailyprogram.task2 }}</li>
    <li>Task 3: {{ dailyprogram.task3 }}</li>
    <li>Task 4: {{ dailyprogram.task4 }}</li>
  </ul>

  <a href="{% url 'dailyprogram_update' dailyprogram.weekplan.pk dailyprogram.pk %}" class="btn btn-warning">Edit</a>
  <a href="{% url 'dailyprogram_delete' dailyprogram.weekplan.pk dailyprogram.pk %}" class="btn btn-danger">Delete</a>
  <a href="{% url 'weekplan_detail' dailyprogram.weekplan.pk %}" class="btn btn-secondary">Back to Week Plan</a>
{% endblock %}
